svg {
  user-select: none;
}

rect {
  cursor: move;
}

circle {
  cursor: nwse-resize;
}

p {
  font-size: 16px;
}

.spinner-container {
  display: flex;
  align-items: center;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid rgba(0, 0, 255, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
